<a [routerLink]="rental._id">
  <div class="card bwm-card">
    <img src="http://via.placeholder.com/350x250" alt="" class="card-img-top">
    <div class="card-block">
      <div class="card-subtitle {{rental.category}}">{{rental.shared ? 'Shared':'Whole' }} {{rental.category}} &#183; {{rental.city}} </div>
      <div class="card-title">{{rental.title}}</div>
      <div class="card-text">{{rental.dailyRate}} per Night &#183; free cancelation</div>
      <!-- <a href="" class="card-link">More Info</a> -->
    </div>
  </div>
</a>
