<app-header></app-header>
<div class="container">
    <section id="rentalListing">
        <h1 class="title">Your home all around the world</h1>
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <div class="card bwm-card">
                    <img src="http://via.placeholder.com/350x250" alt="" class="card-img-top">
                    <div class="card-block">
                        <div class="card-subtitle">Whole Apartemen &#183; new york</div>
                        <div class="card-title">Some nice apartemen</div>
                        <a href="" class="card-link">More Info</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>