<section id="rentalDetails" *ngIf="rentalSelected">
    <div class="upper-section">
        <div class="row">
            <div class="col-md-6">
                <img [src]="rentalSelected.image" alt="">
            </div>
            <div class="col-md-6">
                <img [src]="rentalSelected.image">
            </div>
        </div>
    </div>
    <div class="details-section">
        <div class="row">
            <div class="col-md-8">
                <h2 class="rental-type {{rentalSelected.category}}">
                    {{rentalSelected.shared}} {{rentalSelected.category}}
                </h2>
                <h1 class="rental-title">{{rentalSelected.title}}</h1>
                <h2 class="rental-city">{{rentalSelected.city}}</h2>
                <div class="rental-room-info">
                    <span><i class="fa fa-building"></i> {{rentalSelected.bedrooms}} bedrooms</span>
                    <span><i class="fa fa-user"></i> {{rentalSelected.bedrooms +4}} guest</span>
                    <span><i class="fa fa-bed"></i> {{rentalSelected.bedrooms + 2}} beds</span>
                </div>
                <p class="rental-description">
                    {{rentalSelected.description}}
                </p>
                <hr>
                <div class="rental-assets">
                    <h3 class="title">Assets</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <span><i class="fa fa-asterisk"></i> Cooling</span>
                            <span><i class="fa fa-thermometer"> Heating</i></span>
                            <span><i class="fa fa-cube"> Iron</i></span>
                        </div>
                        <div class="col-md-6">
                            <span><i class="fa fa-desktop"></i> Working</span>
                            <span><i class="fa fa-cube"></i> Washing machine </span>
                            <span><i class="fa fa-cube"></i> Dishwasher</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">BOOKING</div>
        </div>
    </div>
</section>